<!--
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gndv.member.mapper.MemberMapper">

    <insert id="save" parameterType="member">
        INSERT INTO Member (email, password)
        VALUES (#{email}, #{password})
    </insert>

    <select id="findByEmail" resultType="member">
        SELECT *
        FROM Member
        WHERE email = #{email}
    </select>

    <select id="findAll" resultType="member">
        SELECT *
        FROM Member
        ORDER BY member_id desc
    </select>

    <delete id="delete" parameterType="Long">
        DELETE
        FROM Member
        WHERE member_id = #{member_id}
    </delete>

    <select id="existsfindByEmail" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM Member
        WHERE email = #{email}
    </select>

</mapper>-->
